back-end/src/__pycache__/*
back-end/src/main/qrcode.png

front-end/src/node_modules/
front-end/src/dist/
front-end/src/npm-debug.log*
front-end/src/yarn-debug.log*
front-end/src/yarn-error.log*
front-end/cypress/downloads
front-end/cypress/screenshots

*.idea
*.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*